<ion-view  view-title="Add Tasks">


 
     
  <ion-content ion-content has-header has-footer>
    <!-- our list and list items -->

    <!-- Center content -->
<!--     <ion-header-bar class="bar-assertive">
        <h1 class="title">Task List</h1>
    </ion-header-bar> -->


    <ion-list>

      <ion-item ng-repeat="todo in todos track by $index" class="item item-checkbox item-button-right">

        <label class="checkbox">
          <input type="checkbox" ng-model="todo.done">
        </label>
        {{todo.text}}

        <button class="button button-clear trash" ng-click="archive()">
          <i class="ion-trash-b"></i>
        </button>

      </ion-item>

    </ion-list>

  </ion-content>


  <!--Footer-->
  <form name="myForm" data-ng-submit="addTodo()">
    <ion-footer-bar class="bar bar-footer item-input-inset">

      <label class="item-input-wrapper">
        <input name="myText" class="itemAdd" type="text" placeholder="Add Item" ng-model="todoText" ng-minlength="1" required>
      </label>
      <button ng-disabled="myForm.$invalid" class="button button-clear add">Add</button>

    </ion-footer-bar>
  </form>

  <!--Footer End-->



</ion-view>