<ion-view view-title="Main page">



    <ion-content>

      <!-- headers -->
      <div class="bar bar-header">
        <button class="button icon ion-navicon"></button>
        <h1 class="title">What would you like to do</h1>
        <button class="button">Edit</button>
      </div>  

      <!-- end headers -->
    
          <!-- text elements -->
      <h1>I'm an H1!</h1>



      <!-- buttons -->


      <div class="button-bar">
        <a class="button" ng-click = "goToPage('NewOrder')" > <img src = "../img/mainPage/NewOrder.jpg"     height="256" width="256" > </a>
        <a class="button" ng-click = "goToPage('NewOrder')" ><img src = "../img/mainPage/Inventory.jpg"     height="256" width="256"> </a>
       <a class="button" ng-click = "goToPage('CurrentOrders')" ><img src = "../img/mainPage/currentOrder.jpg"   height="256" width="256"> </a>
      </div>

      <div class="button-bar">
        <a class="button" ng-click = "goToPage('NewOrder')" > <img src = "../img/mainPage/pastOrders.jpg"   height="256" width="256" > </a>
        <a class="button" ng-click = "goToPage('NewOrder')" ><img src = "../img/mainPage/users.jpg"         height="256" width="256"> </a>
       <a class="button" ng-click = "goToPage('NewOrder')" ><img src = "../img/mainPage/delivery.jpg"       height="256" width="256"> </a>
      </div>
      <!-- end buttons -->




    <!-- end ion content -->
    </ion-content>


		<ion-nav-buttons side="right">
 		<button class="button button-dark">
        does nothing
      </button>
      </ion-nav-buttons>

	<div class="bar bar-footer bar-balanced">
		<div class="title">Great</div>
	</div> 

</ion-view>
 

<!--  
  <ion-side-menus>
    <ion-side-menu-content>
    </ion-side-menu-content>
    <ion-side-menu side="right">
    </ion-side-menu>
  </ion-side-menus>
 -->