<!-- <ion-view view-title="NewOrder" class="NewOrder-page">

    <ion-header-bar align-title="left" class="bar-positive">
      <div class="buttons">
        <button class="button" ng-click="doSomething()">Left Button</button>
      </div>
      <h1 class="title">Title!</h1>
      <div class="buttons">
        <button class="button">Right Button</button>
      </div>
    </ion-header-bar>
   


    <ion-content>
      Hello
    </ion-content>

</ion-view>
 -->

<div class="bar bar-header bar-dark">
  <h1 class="title">bar-dark</h1>
</div>