/* Empty. Add your own CSS if you like */
/*.pane {
    background-color: #000;
}
*/

.pane.left-view {
  left: 0;
  width: 33%;
}

.pane.right-view {
  left: 33%;
  width: 67%;


}

.pane.left-view {

background: url(../img/ali_baba.jpg) no-repeat center center fixed;

-webkit-background-size: cover;

-moz-background-size: cover;

background-size: cover;

}

.pane.right-view {

background: url(../img/ali_baba.jpg) no-repeat center center fixed;

-webkit-background-size: cover;

-moz-background-size: cover;

background-size: cover;

}


.pull-right {
    float:right;
}

/*.rrr{
border-radius: 1px;
}*/

.item{
  margin:0px !important;
  /*padding: 9px !important;*/

  /*height: 80px !auto;*/
  /*background-color: transparent;*/
}

.noEdge{
   border-width: 0!important ;
   padding :5px !important;
   margin:0px !important;
   /*background-color: transparent;*/
}



body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.checkbox {
	width: 85%
}
.popup-body {
	text-align: center;
}